@model SideMenuDTO


<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/CodingLabYT-->
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title> Responsive Sidebar Menu  | CodingLab </title>
    <link rel="stylesheet" href="style.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/sidestyle.css" rel="stylesheet" />
    <script src="~/js/sidescript.js"></script>
</head>
<body>
    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bxl-c-plus-plus icon'></i>
            <div class="logo_name">Avans Yönetim</div>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav-list">
            @foreach (var item in Model.PageAuthoriation)
            {
                <li>
                    <a href="@item.PageAuthorizationPath">
                        <i class='bx bx-folder'></i>
                        <span class="links_name">@item.PageAuthorizationName</span>
                    </a>
                    <span class="tooltip">@item.PageAuthorizationName</span>
                </li>
            }

            <li class="profile">
                <div class="profile-details">
                    <img src="~/Images/fineksus_logo.jpeg" alt="">
                    <div class="name_job">
                        <div class="name">@Model.WorkerName</div>
                        <div class="job">@Model.Rolename</div>
                    </div>
                </div>
                <a asp-controller="Login" asp-action="Logout" class="btn"><i class='bx bx-log-out' id="log_out"></i></a>
            </li>
        </ul>
    </div>
</body>

</html>

