@model List<AdvanceRequestStatusSelectDTO>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avans Yönetim Sistemi</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <div class="rounded p-3 bg-white bg-opacity-75">
                    <h2>Talep</h2>
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th scope="row">Talep No</th>
                                <td>@Model[0].Advance.AdvanceID</td>
                            </tr>
                            <tr>
                                <th scope="row">İstenen Tutar</th>
                                <td>@Model[0].Advance.AdvanceAmount</td>
                            </tr>
                            <tr>
                                <th scope="row">Onaylanan Tutar</th>
                                <td>@Model[Model.Count - 1].ApprovedAmount</td>
                            </tr>
                            <tr>
                                <th scope="row">İhtiyaç Tarihi</th>
                                <td>@Model[0].Advance.RequestDate</td>
                            </tr>
                            <tr>
                                <th scope="row">Talep Tarihi</th>
                                <td>@Model[0].Advance.CreatedDate</td>
                            </tr>
                            <tr>
                                <th scope="row">Proje</th>
                                <td>@Model[0].Project.ProjectName</td>
                            </tr>
                            <tr>
                                <th scope="row">Son Durumu</th>
                                <td>@Model[Model.Count - 1].StatusName</td>
                            </tr>
                            @if (Model.Last().FinanceManager != null)
                            {
                                <tr>
                                    <th scope="row">Ödeme Tarihi</th>
                                    <td>@Model.Last().FinanceManager.DeterminedPaymentDate</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-8">
                <div class="rounded p-3 bg-white bg-opacity-75">
                    <h2>Avans Durum Listesi</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Durum</th>
                                <th scope="col">İşlem Zamanı</th>
                                <th scope="col">İşlem</th>
                                <th scope="col">İşlemi Yapan</th>
                                <th scope="col">Onaylanan Tutar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var item in Model)
                            {
                                int x = 1;
                                <tr>
                                    <td>@x</td>
                                    <td>@item.StatusName</td>
                                    @if(item.Worker != null)
                                    {
                                        <td>@item.ProcessDate</td>
                                    }
                                    else
                                    {
                                        <td>@item.CreatedDate</td>
                                    }
                                    <td>@item.ApprovalStatus.ApprovalName</td>
                                    @if(item.Worker != null)
                                    {
                                        <td>@item.Worker.WorkerName</td>
                                    }
                                    else
                                    {
                                        <td>Sistem</td>
                                    }
                                    <td>@item.ApprovedAmount</td>
                                </tr>
                                x++;
                            }
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>